body {
  background-color: #282c34;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 300px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.login-page {
  display: flex;
  flex-direction: column;
}

.login-page p {
  color: whitesmoke;
  font-size: large;
  text-shadow: black;
}

.login-page input {
  border: 3px solid black;
  height: 40px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}

.login-page button {
  background-color: white;
  border: 3px solid black;
  color: black;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  width: 100px;
}

.login-page button:disabled {
  background-color: lightgray;
  border: 3px solid gray;
  color: gray;
}

.login-page button:hover:enabled {
  background-color: black;
  border: 3px solid white;
  color: white;
}

.login-inputs {
  display: flex;
  justify-content: center;
}

.options {
  background-color: white;
  border: 3px solid black;
  color: black;
  font-size: medium;
  height: 40px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.correct-option {
  background-color: white;
  border: 3px solid rgb(6, 240, 15);
  color: rgb(0, 90, 3);
  font-size: medium;
  height: 40px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrong-options {
  background-color: white;
  border: 3px solid red;
  color: darkred;
  font-size: medium;
  height: 40px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.game-header {
  align-content: center;
  background-color: #3b424e;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.game-header div {
  display: flex;
}

.game-header div h2 {
  margin-left: 25px;
}

.questions {
  align-items: center;
  background-color: #3b424e;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10%;
  padding: 5%;
}

.question-text {
  font-size: x-large;
}

.question-category, .btn-next, .timer-questions {
  font-size: large;
}

.btn-next {
  border: 2px solid black;
  border-radius: 5px;
  height: 35px;
  margin: 20px;
  padding: 3px 15px;
  width: 150px;
}

.btn-next:hover {
  background-color: black;
  border: 3px solid white;
  color: white;
}

.ranking-title {
  font-size: xxx-large;
}

.ranking-list {
  align-items: center;
  background-color: #3b424e;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5%;
  padding: 5%;
}

.ranking-list li {
  align-items: center;
  background-color: #282c34;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  padding: 2%;
  width: 60%;
}
